.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ddd;
  opacity: 0.6;
  font-size: 20px;
  font-weight: bold;
}

.Dictionary .hint {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 3px;
}
